<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>LIBRARY MANAGEMENT SYSTEM</title>
        <link rel="stylesheet" href="styles/home.css">
    </head>
    <body>
    <h1> WELCOME TO THE LIBRARY MANAGEMENT SYSTEM</h1>
    <div class="button-container">
        <a class="button" href="/login">Login</a>
        <a class="button" href="/register">Register</a>
    </div>
    </body>
</html>